<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="79f379">  <td>18/12/06 06:15:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest1.afterClass()[pri:0, instance:com.seleniumtest.testjenkins.NewTest1@5442a311]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/12/06 06:15:49</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterClass()[pri:0, instance:com.seleniumtest.testjenkins.NewTest@31ef45e3]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>18/12/06 06:15:49</td>   <td>-21</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeClass()[pri:0, instance:com.seleniumtest.testjenkins.NewTest1@5442a311]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/12/06 06:15:49</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeClass()[pri:0, instance:com.seleniumtest.testjenkins.NewTest@31ef45e3]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>18/12/06 06:15:49</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.f()[pri:0, instance:com.seleniumtest.testjenkins.NewTest1@5442a311]">f</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/12/06 06:15:49</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:com.seleniumtest.testjenkins.NewTest@31ef45e3]">f</td> 
  <td>main@858242339</td>   <td></td> </tr>
</table>
